a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 70px;
  padding-bottom: 20px;
}

footer {
  margin-top: auto;
}

/* article */
.navbar-light .navbar-brand {
  color: red;
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-nav {
  margin-right: 10px;
}

/* index */
.index_set_box {
  line-height: 3;
}

.table-responsive {
  flex: 1;
}

/* index_自訂分頁樣式 */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination ul {
  display: flex;
  padding: 0;
}

.pagination li {

  list-style: none;
}

.pagination li.active span{
  background-color: #ededed;
}
.pagination li.disabled span{
  color: #bebebe;
}
.pagination li:first-child {
  margin-right: 10px;
}

.pagination li:last-child {
  margin-left: 10px;
}

.pagination a,
.pagination span {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

@media (max-width: 900px) {

  /* index */
  .index_set_box {
    line-height: normal;
  }

  .index_set {
    padding: 1px 2px;
    font-size: 0.9em;
  }
}